<!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <a href="{{base_path}}"><img src="{{theme_path}}/img/l-logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        {{ page.main_navigation }}
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
	  
	  
	  
	  
	  <!-- <div class="dropdown">
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#">HTML</a></li>
			<li><a href="#">CSS</a></li>
			<li><a href="#">JavaScript</a></li>
		</ul>
	  </div> -->
	  
	  
	  

    </div>
  </header><!-- End Header -->

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
		  {{page.page_title}}
          {{ page.breadcrumbs }}
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
	{{page.content}}
	{{page.bottom_blocks_1}}
	{{page.bottom_blocks_2}}
	{{page.bottom_blocks_3}}
    
</main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

   

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Info</h4>
            {{ page.main_navigation }}
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              14 Van Siclen Avenue <br>
              Floral Park, New York, NY 11001<br>
              United States <br><br>
              <strong>Phone:</strong> +1 929 919 3901 <br>
              <strong>Email:</strong> info@exeluxserv.com<br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
           <img class="duns" src="{{theme_path}}/img/duns-logo.png">
            <p>We are DUNS verified company. Registration No.- 075532377</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright 2023 All Rights Reserved <a class="link" href="/">Executive Luxury Service Inc.</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>